{{#link-to "index"}}
  <div class="header-component-cont">
    {{svg-jar "logo" class="icon" width="32px"}}
    <span class="header-component-title" >Talent Center</span>
  </div>
{{/link-to}}
{{yield}}