{{#link-to "index"}}
  <div style="padding: 10px">
    {{svg-jar 'logo' class='icon' width='32px'}}
    <span style="margin-left: 5px; color:#41637C; font-weight: 500; font-size: 18px">Talent Center</span>
  </div>
{{/link-to}}
{{yield}}