<div class="team-filter-cont">
  <span>Filter By</span>
  <BsDropdown class="teams-filter-dropdown" as |Dropdown|>
    <Dropdown.toggle>
      <span class="caret"></span>
    </Dropdown.toggle>
    <Dropdown.menu as |menu|>
      <menu.item>
        <a href="#" onclick={{action "filterByTeams" 'all' preventDefault=false}}>All Employees</a>
      </menu.item>
      <menu.divider/>
      {{#each this.teams as |team|}}
        <menu.item>
          <a href="#" onclick={{action "filterByTeams" team preventDefault=false}}>{{team}}</a>
        </menu.item>
        <menu.divider/>
      {{/each}}
    </Dropdown.menu>
  </BsDropdown>
</div>
{{yield}}