<div class="user-image-container">
  {{#if user.image_url}}
    <img class="user-image-circle" src={{user.image_url}} alt="profile image">
  {{else}}
    <div class="user-initial-image-circle">
      <p class="user-initial-image-text">{{user.initials}}</p>
    </div>
  {{/if}}
</div>
{{yield}}