{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
<div class="navBar">
  {{leftnav-component}}
</div>
<div class="container">
  <div class="header">
    {{header-component}}
  </div>
</div>
<div class="body">
  {{outlet}}
</div>
<div class="footer">
  {{footer-component}}
</div>