{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
<div class="navBar">
  {{leftnav-component}}
</div>
<div class="container" style="text-align: left; margin-left: 0">
  <div class="header" style="margin-left: 52px;" >
    {{header-component}}
  </div>
</div>
 <div class="body" style="height: 90vh; border: 1px solid">
    {{outlet}}
</div>
{{footer-component}}